* {
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
}

input {
	border:0;
}

.z-0 {
	z-index:0;	
}

.z-1 {
	z-index:1;	
}

.z-2 {
	z-index:2;	
}

.z-3 {
	z-index:3;	
}

@font-face{
	font-family:"Lovelo";
	src:url(../fonts/Lovelo-Black.otf);
}
@font-face{
	font-family:"Gil-Condensed";
	src:url(../fonts/Gil-Condensed.ttf);
}
@font-face{
	font-family:"Roboto";
	src:url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family:"RobotoBlack";
	src:url(../fonts/Roboto-Black.ttf);
}
@font-face{
	font-family:"RobotoBold";
	src:url(../fonts/Roboto-Bold.ttf);
}
@font-face{
	font-family:"Lato";
	src:url(../fonts/Lato-Regular.ttf);
}
@font-face{
	font-family:"LatoBlack";
	src:url(../fonts/Lato-Black.ttf);
}
@font-face{
	font-family:"LatoBold";
	src:url(../fonts/Lato-Bold.ttf);
}

.over-loader {
	width:100%;
	top:0;
	left:0;
	position:fixed;
	height:100%;
	z-index:5000;
	background:#fff;
}

header, main, footer, aside, nav, section, article {
	display:block;
}

body {
	background:#fafafa;
	font-family:"Droid";
	width:100%;
}

h1, h2, h3, h4 {
	font-family:LatoBlack;
}

input:focus {
	outline:none;
}

:invalid {
	box-shadow: none;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow:none;
}


.top-bar {
	width:100%;
	position:relative;
	height:40px;
	border-bottom:1px solid #bfbfbf;
}

.top-bar-inner {
	width:1200px;
	margin:0px auto;
}

.form-search {
	float:left;
	width:535px;
	position:relative;
}

.input-text-search {
	border:0;
	border-left:1px solid #bfbfbf;
	color:#000;
	width:260px;
	height:38px;
	font-family:Gil-Condensed;
	font-size:20px;
	background:#fafafa;
	padding:0 5px;
}

.input-submit-search {
	border:0;
	border-right:1px solid #bfbfbf;
	color:#fff;
	background:#2222ff;
	width:120px;
	font-family:Lovelo;
	font-size:18px;
	height:39px;
	cursor:pointer;
	font-weight:100;
	transition:all .3s;
}

.face-link {
	width:40px;
	height:40px;
	background:#0000aa;
	float:left;
	cursor:pointer;
}

.right-top {
	width:auto;
	float:right;
	height:40px;
}

.contact-nuber {
	float:left;
	height:40px;
	padding-top:7px;
	font-family:"Lovelo";
	font-size:20px;
	width:140px;
	text-align:center;
	border-left:1px solid #bfbfbf;
}

.login-link {
	float:left;
	height:39px;
	padding:5px 20px 0px 20px;
	text-decoration:none;
	text-align:center;
	font-size:24px;
	border-left:1px solid #bfbfbf;
	font-family:"Gil-Condensed";
	color:#444;
	transition:all .3s;
}

.login-link:hover {
	background:#ddd;
}

.face-link a {
	display:block;
	width:100%;
	height:100%;
	color:white;
	text-align:center;
	font-size:40px;
	margin-top:-3px;
	text-decoration:none;
	font-weight:bold;
	font-family:Calibri;
}

.cart-image {
	width:30px;
	height:30px;
	margin-top:1px;
	margin-left:5px;
	float:left;
}

.cart-text {
	margin-top:3px;
	float:right;
	margin-right:15px;
	margin-left:15px;
}

.cart-info {
	border:0;
	border-left:1px solid #bfbfbf;
	color:#fff;
	width:auto;
	position:relative;
	height:39px;
	font-family:Gil-Condensed;
	font-size:20px;
	float:right;
	background:#dd0000;
	text-align:left;
	cursor:pointer;
	transition:all .3s;
	text-align:center;
}

.cart-info:hover {
	background:#f00;
}

.face-link:hover {
	background:#00f;
	transition:all .3s;
}

.input-submit-search:hover {
	background:#2222aa;
}

.main-header {
	width:100%;
	height:135px;
	position:relative;
	background:#ffffff;
	/*#E71c15*/;
}

.logo-squares {
	width:105px;
	height:150px;
	float:left;
}

.logo-square, .loader-square {
	transition:all .2s;
	transform:scale(1,1);
	z-index:1;
}

.loader-squares {
	width:120px;
	height:150px;
	position:absolute;
	top:30%;
	left:calc(50% - 75px);
}

.loader-squares .square-cyan {
	animation:loader-c 1.2s infinite;
}

.loader-squares .square-magenta {
	animation:loader-m 1.2s infinite;
}

.loader-squares .square-black {
	animation:loader-b 1.2s infinite;
}

.loader-squares .square-yellow {
	animation:loader-y 1.2s infinite;
}

@keyframes loader-c{
	0%{transform:scale(1,1);z-index:1;}
	15%{transform:scale(1.3,1.3);z-index:4;}
	30%{transform:scale(1,1);z-index:1;}
}

@keyframes loader-m{
	15%{transform:scale(1,1);z-index:1;}
	30%{transform:scale(1.3,1.3);z-index:4;}
	45%{transform:scale(1,1);z-index:1;}
}

@keyframes loader-b{
	30%{transform:scale(1,1);z-index:1;}
	45%{transform:scale(1.3,1.3);z-index:4;}
	60%{transform:scale(1,1);z-index:1;}
}

@keyframes loader-y{
	45%{transform:scale(1,1);z-index:1;}
	60%{transform:scale(1.3,1.3);z-index:4;}
	75%{transform:scale(1,1);z-index:1;}
}

.square-cyan {
	background:#00ffff;
	width:54px;
	height:62px;
	position:absolute;
	top:10px;
	left:0px;
}

.main-header:hover .square-cyan {
	width:60px;
	height:69px;
	top:3px;
	left:-6px;
}

.square-yellow {
	background:#ffff00;
	width:40px;
	height:48px;
	position:absolute;
	top:80px;
	left:20px;
}

.main-header:hover .square-yellow {
	width:47px;
	height:56px;
	top:80px;
	left:13px;
}

.square-magenta {
	background:#ff00ff;
	width:42px;
	height:47px;
	position:absolute;
	top:18px;
	left:59px;
}

.main-header:hover .square-magenta {
	width:49px;
	height:55px;
	top:10px;
	left:59px;
}

.square-black {
	background:#000000;
	width:26px;
	height:31px;
	position:absolute;
	top:72px;
	left:66px;
}

.main-header:hover .square-black {
	width:33px;
	height:39px;
	top:72px;
	left:66px;
	background:#000;
}

.image-logo {
	width:295px;
	float:left;
	margin-top:10px;
}

.main-header-inner {
	width:1200px;
	height:135px;
	position:relative;
}

.main-header-logo {
	height:135px;
	display:block;
	position:relative;
	width:400px;
	float:left;
	margin:0;
}

.main-header-logo-image {
	position:relative;
	width:322px;
}

.main-header-part-right {
	width:600px;
	height:135px;
	position:relative;
	float:right;
}

.main-menu-container {
	height:60px;
	width:100%;
	clear:both;
	background:#000;
}

.main-menu {
	width:1200px;
	height:60px;
	position:relative;
}

.main-menu-item {
	float:left;
	width:200px;
	height:60px;
	list-style-type:none;
	position:relative;
	overflow:hidden;
}

.main-menu-item-search {
	float:right;
	width:300px;
	height:60px;
	list-style-type:none;
	position:relative;
	overflow:hidden;
}

.search-input {
	padding:18px 9px;
	height:60px;
	color:#eaeaea;
	text-decoration:none;
	display:block;
	width:100%;
	font-family:Oxygen;
	font-size:20px;
	position:relative;
	z-index:3;
	background:#2f2f2f;
	border:0;
	font-weight:bold;
}

.main-menu-item:hover {
	background:#1f1f1f;
}

.main-menu-link,
.main-menu-link-active {
	padding-top:18px;
	height:60px;
	color:#fff;
	text-decoration:none;
	display:block;
	width:100%;
	text-align:center;
	font-family:Lovelo;
	font-size:20px;
	position:relative;
	z-index:3;
}

.main-menu-link-active {
	background:#fafafa;
	color:#1f1f1f;
	border-top:5px solid #0f0f0f;
	box-shadow:0 0 5px #fff;
}

.main-menu-item:before {
	position:absolute;
	content:'';
	top:0;
	left:-200px;
	width:200px;
	height:60px;
	z-index:1;
	transition:all .7s;
	background:url(../images/glow.png);
}

.main-menu-item:hover:before {
	left:100%;
}

#info-contact {
	background:url(../images/about-left.jpg);
	width:100%;
	height:200px;
	margin-bottom:30px;
	overflow:hidden;	
}

#main-contact {
	width:1200px;
	margin:30px auto 0;
	position:relative;
	height:650px;
}

.contact-left {
	float:left;
	width:550px;
	height:100%;
	position:relative;
}

.contact-right {
	float:left;
	width:650px;
	height:100%;
	position:relative;
}

.worker-card {
	box-shadow:0px 2px 4px rgba(0,0,0,0.4);
	width:450px;
	height:130px;
	position:relative;
	margin-bottom:15px;
	margin-left:0px;
	padding:10px;
	background:#fff;
}
/*contact2 start*/

.worker-header2 {
	width:100%;
	height:52px;
	background:#1777b4;
	position:relative;
}

.worker-name2 {
	position:absolute;
	bottom:2px;
	left:70px;
	color:#fff;
	font-size:30px;
	font-family:Oxygen;
}

.worker-card2 {
	box-shadow:0px 2px 5px rgba(0,0,0,0.4);
	width:450px;
	height:150px;
	position:relative;
	margin-bottom:16px;
	margin-left:0px;
	background:#fff;
	border-bottom:10px solid #344a5f;
}

.worker-icon-bg2 {
	background:#bbb;
	height:70px;
	width:70px;
	margin-top:10px;
	margin-left:5px;
	border-radius:50%;
}

.worker-icon-outer2 {
	width:70px;
	height:70px;
	float:left;
}


#contact-form2 {
	width:650px;
	height:650px;
	position:relative;
	background:#c8eff1;
}

.form-header2 {
	background:#159574;
	height:50px;
	width:100%;
	margin-bottom:20px;
}

.form-header-title2 {
	height:100%;
	width:100%;
	padding-top:14px;
	font-family:Lovelo;
	font-size:18px;
	color:#fff;
	text-align:center;
}

.contact-form-label2 {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:100%;
	padding:0 0px 0 4px;
	float:left;
}

.contact-form-label3 {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:100%;
	padding:0 0px 0 14px;
	float:left;
}

.contact-form-label-short2 {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:46%;
	float:left;
	padding:0 0px 0 4px;
}

.contact-row2 {
	width:630px;
	height:100px;
	position:relative;
}

.contact-column-left2 {
	float:left;
	width:310px;
	height:90px;
}

.contact-column-right2 {
	float:left;
	margin-left:10px;
	width:310px;
	height:90px;
}

#name2, #company-name2, #phone2, #mail2, #subject2 {
	border:0;
	outline:none;
	width:100%;
	height:45px;
	padding:0 7px;
	font-family:"Gil-Condensed";
	font-size:24px;
	margin-bottom:20px;
	background:#2fb997;
	color:#333;
}

#name2:focus, #company-name2:focus, #subject2:focus, #message2:focus, #phone2:focus, #mail2:focus {
	//border-bottom:3px solid #00f;
	background:#2fc997;
	color:#000;
}

#message2 {
	border:0;
	outline:none;
	width:630px;
	height:150px;
	font-family:"Gil-Condensed";
	font-size:24px;
	resize:none;
	background:#1fa987;
	margin-bottom:30px;
	padding:7px;
	margin-left:10px;
	color:#333;
}

#send-msg2 {
	border:0;
	cursor:pointer;
	width:170px;
	height:55px;
	font-family:Lovelo;
	font-size:18px;
	background:#ee0000;
	color:#fff;
	transition:all .3s;
	margin-left:10px;
}

#send-msg2:hover {
	background:#a00;
}


/*contact2 end*/

/*contact3 start*/

#main-contact3 {
	width:1200px;
	margin:30px auto 0;
	position:relative;
	height:500px;
}

#info-contact3 {
	background:url(../images/about-left.jpg);
	width:100%;
	height:140px;
	margin-bottom:50px;
	overflow:hidden;	
}

.about-desc-middle {
	font-size:28px;
	font-family:LatoBlack;
	margin-top:30px;
	display:block;
	position:absolute;
	color:#fff;
	text-align:center;
	width:100%;
}

.about-desc-middle-hr {
	width:80px;
	height:2px;
	background:#fff;
	border:0;
	top:100px;
	display:block;
	position:relative;
	text-align:center;
}

.worker-card3 {
	box-shadow:0px 2px 3px rgba(0,0,0,0.3);
	width:320px;
	height:96px;
	position:relative;
	margin-bottom:10px;
	padding:6px;
	background:#fff;
	float:left;
}

.worker-data3 {
	width:238px;
	float:left;
	margin-left:10px;
	height:86px;
}

.worker-name3 {
	font-size:16px;
	font-weight:100;
	color:#000;
	font-family:LatoBold;
	line-height:21px;
}

.worker-detail3 {
	font-size:14px;
	font-weight:100;
	color:#000;
	font-family:Lato;
	line-height:21px;
}

.contact-left3 {
	float:left;
	width:350px;
	margin-right:15px;
	height:455px;
	position:relative;
	border-right:1px solid #ccc;
}

.contact-right3 {
	float:left;
	width:820px;
	height:455px;
	position:relative;
}

.company-adress {
	width:390px;
	height:60px;
	float:left;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	position:relative;
}

.company-data3 {
	font-family:Roboto;
	font-size:14px;
	width:390px;
	color:#000;
	float:left;
	height:455px;
	position:relative;
}

.company-name3 {
	font-family:LatoBold;
	font-size:16px;
	color:#000;
}

.company-data-row {
	width:390px;
	height:58px;
	float:left;
	position:relative;
}

.company-data-content-small {
	margin-top:9px;
}

.company-data-item {
	width:195px;
	float:left;
}

.company-data-icon {
	height:inherit;
	width:50px;
	float:left;
	margin-top:2px;
}

.company-data-icon-image {
	margin-top:9px;
	width:35px;
	height:35px;
}

.worker-icon-bg3 {
	background:#bbb;
	height:54px;
	width:54px;
	margin-top:15px;
	border-radius:50%;
}

.worker-icon-outer3 {
	width:60px;
	height:86px;
	float:left;
}

.worker-icon3 {
	height:36px;
	width:36px;
	margin-top:9px;
	margin-left:9px;
}

#contact-form6 {
	width:410px;
	float:right;
	height:455px;
	padding-left:15px;
	border-left:1px solid #ccc;
	position:relative;
}

#send-msg3 {
	border:0;
	cursor:pointer;
	width:170px;
	height:50px;
	font-family:LatoBold;
	font-size:16px;
	background:#ee0000;
	color:#fff;
	transition:all .3s;
}

.send-text3 {
	width:94px;
	height:50px;
	float:left;
	padding-top:13px;
}

.send-image3 {
	width:50px;
	height:50px;
	float:left;
	background:#a00;
}

.send-icon3 {
	width:32px;
	padding-left:2px;
	padding-top:9px;
}


#send-msg3:hover {
	background:#a00;
}


#name3, #company-name3, #phone3, #mail3, #subject3 {
	border:0;
	outline:none;
	width:100%;
	height:40px;
	padding:0 7px;
	font-family:Lato;
	font-size:14px;
	margin-bottom:20px;
	background:#ddd;
	color:#000;
}

#message3 {
	border:0;
	outline:none;
	width:410px;
	height:155px;
	font-family:Lato;
	font-size:14px;
	resize:none;
	background:#ddd;
	margin-bottom:22px;
	padding:7px;
	color:#000;
}

#name3:focus, #company-name3:focus, #subject3:focus, #message3:focus, #phone3:focus, #mail3:focus {
	background:#e7e7e7;
	color:#000;
}

.contact-column-left6 {
	float:left;
	width:200px;
}

.contact-column-right6 {
	float:left;
	margin-left:10px;
	width:200px;
}

.contact-form-label6 {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:100%;
	padding:0 0px 0 4px;
	float:left;
	display:none;
}

.contact-form-label7 {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:100%;
	padding:0 0px 0 14px;
	float:left;
	display:none;
}

.contact-form-label-short6 {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:46%;
	float:left;
	padding:0 0px 0 4px;
	display:none;
}

.contact-row6 {
	width:410px;
	height:62px;
	position:relative;
}

.company-data-content {
	margin-top:18px;
}

.info-big {
	text-transform:uppercase;
	font-family:"LatoBold";
	font-size:18px;
	color:#000;
	margin-bottom:10px;
}

.link-boxes {
	width:100%;
	height:200px;
	position:relative;
	clear:both;
	
}

.panel-box {
	background:#263238;
	height:200px;
	width:190px;
	float:left;
	margin-top:36px;
	color:#fff;
	padding:10px;
}

.fb-box {
	background:#3b5998;
	height:200px;
	width:190px;
	float:right;
	margin-top:36px;
	color:#fff;
	padding:10px;
}

.link-box-button {
	display:block;
	width:100%;
	height:35px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding-top:8px;
	font-family:LatoBold;
	font-size:14px;
	transition:all .2s;
} 

.link-box-header {
	font-size:16px;
	font-family:LatoBold;
	text-align:center;
	height:25px;
	border-bottom:1px solid #fff;
}

.link-box-content {
	text-align:center;
	font-family:Lato;
	font-size:14px;
	line-height:21px;
	height:110px;
	margin-top:5px;
}

.fb-box .link-box-button {
	background:#6d84b4;
}

.fb-box .link-box-button:hover {
	background:#566f9f;
}

.panel-box .link-box-button {
	background:#566268;
}

.panel-box .link-box-button:hover {
	background:#465258;
}





/*contact3 end*/

.worker-data {
	width:330px;
	float:left;
	margin-left:15px;
	height:110px;
}

.company-data-text {
	font-size:22px;
	margin-bottom:20px;
}

.worker-card-link {
	color:#666;
	text-decoration:none;
}

.worker-card-link:hover{
	color:#333;
}

.worker-icon-bg {
	background:#bbb;
	height:70px;
	width:70px;
	margin-top:20px;
	border-radius:50%;
}

.worker-icon-outer {
	width:70px;
	height:110px;
	float:left;
}

.worker-icon {
	height:50px;
	width:50px;
	margin-top:10px;
	margin-left:10px;
}

.worker {
	float:left;
	height:100px;
	width:380px;
	position:relative;
	margin-bottom:30px;
}

.worker-name {
	font-size:25px;
	font-weight:100;
	color:#000;
	font-family:Gil-Condensed;
}

.worker-detail {
	font-size:20px;
	font-weight:100;
	color:#000;
	font-family:Gil-Condensed;
}

.company-data {
	font-family:Gil-Condensed;
	font-size:20px;
	margin-top:10px;
	width:100%;
	text-align:center;
	color:#fff;
	margin-left:50px;
}

.company-name {
	font-family:Lovelo;
	font-size:20px;
	color:#fff;
}

#contact-form {
	width:650px;
	height:600px;
	position:relative;
	
}

.form-header {
	background:#323a45;
	height:50px;
	width:100%;
}

.form-header-title {
	height:100%;
	width:100%;
	padding-top:11px;
	font-family:Lovelo;
	font-size:19px;
	color:#fff;
	text-align:center;
}

.contact-form-label {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:100%;
	padding:0 0px 0 4px;
	float:left;
}

.contact-form-label-short {
	font-family:"Gil-Condensed";
	font-size:24px;
	color:#000;
	height:30px;
	width:46%;
	float:left;
	padding:0 0px 0 4px;
}

.contact-row {
	width:650px;
	height:100px;
	position:relative;
}

.contact-column-left {
	float:left;
	width:320px;
	height:90px;
}

.contact-column-right {
	float:left;
	margin-left:10px;
	width:320px;
	height:90px;
}

#name, #company-name, #phone, #mail, #subject {
	border:0;
	outline:none;
	width:100%;
	height:45px;
	padding:0 7px;
	font-family:"Gil-Condensed";
	font-size:22px;
	margin-bottom:20px;
	background:#ddd;
	color:#444;
}

#name:focus, #company-name:focus, #subject:focus, #message:focus, #phone:focus, #mail:focus {
	//border-bottom:3px solid #00f;
	background:#e7e7e7;
	color:#000;
}

#message {
	border:0;
	outline:none;
	width:100%;
	height:150px;
	font-family:"Gil-Condensed";
	font-size:22px;
	resize:none;
	background:#ddd;
	margin-bottom:30px;
	padding:7px;
	color:#444;
}

#send-msg {
	border:0;
	cursor:pointer;
	width:170px;
	height:55px;
	font-family:Lovelo;
	font-size:18px;
	background:#ee0000;
	color:#fff;
	transition:all .3s;
}

.send-text {
	width:94px;
	height:55px;
	float:left;
	padding-top:15px;
}

.send-image {
	width:55px;
	height:55px;
	float:left;
	background:#a00;
}

.send-icon {
	width:35px;
	padding-left:2px;
	padding-top:10px;
}


#send-msg:hover {
	background:#a00;
}

#about {
	background:url(../images/about-left.jpg);
	width:100%;
	height:300px;
	position:relative;
	overflow:hidden;
}

.about-inner {
	margin:0 auto;
	width:1200px;
	height:345px;
	position:relative;
}

.about-right {
	height:345px;
	width:500px;
	position:relative;
	float:left;
	color:white;
}

.phone-contact-icon {
	float:left;
	width:50px;
	margin-top:20px;
    	margin-right:10px;	
}

.about-desc {
	font-size:27px;
	font-family:"LatoBold";
    	margin-top:10px;
    	display:block;
}

.about-desc-small {
	font-size:15px;
	font-family:Lato;
	margin-top:10px;
	line-height:26px;
}

.about-left {
	background:#0f0f0f;
	height:345px;
	width:485px;
	padding:0 150px 0 0;
	box-sizing:content-box;
	transform:skew(-30deg, 0deg);
	position:relative;
	float:left;
	z-index:1;
}

.about-end {
	position:absolute;
	right:0;
	width:calc(50% - 70px);
	height:415px;
}

.about-link {
	width: 150px;
	height: 45px;
	font-family: "LatoBold";
	font-size: 17px;
	background: #ee0000;
	display: block;
	margin-top: 15px;
	float: left;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: 12px;
	transition: all .4s;
}

.about-link:hover {
	background:#b00;
}

.about-link-shop {
	width: 220px;
	height: 45px;
	font-family: "LatoBold";
	font-size: 17px;
	background: #00cc00;
	display: block;
	margin-top: 40px;
	float: right;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: 12px;
	position: absolute;
	right: -110px;
	top: 197px;
	transition: all .4s;
}

.about-link-shop:hover {
	background:#009900;
}

.smth {
	transform:skew(30deg, 0deg); 
}

.company-logo {
	transform:scale(1,1);
	transition:all .3s;
}

.company-logo:hover {
	transform:scale(1.2,1.2);
	
}

.ricoh-logo {
	width:160px;
	position:absolute;
	top:30px;
	left:140px;
}

.xerox-logo {
	width:200px;
	position:absolute;
	top:170px;
	left: 360px;
}

.canon-logo {
	width:140px;
	position:absolute;
	top:250px;
	left:90px;
}

.hp-logo {
	width:110px;
	position:absolute;
	top: 30px;
    	left: 490px;
}

.brother-logo {
	width:140px;
	position:absolute;
	top:90px;
	left:-10px;
}

.konica-logo {
	width:160px;
	position:absolute;
        top: 210px;
	left: -60px;
}

.kyocera-logo {
	width:70px;
	position:absolute;
	top:170px;
    	left:180px;
}

.samsung-logo {
	width:140px;
	position:absolute;
	top: 120px;
    	left: 345px;
}

.oki-logo {
	width:140px;
	position:absolute;
	top:170px;
	left:-40px;
}

#in-offer {
	width:1200px;
	height:810px;
	margin-top:20px;
	position:relative;
}

.in-offer-left {
	float:left;
	width:240px;
	height:600px;
}

.promo-box {
	height:719px;
	background:#e7e7e7;
}

.in-offer-right {
	width:940px;
	float:right;
}

.offer-colored-boxes {
	width:940px;
	height:235px;
	position:relative;
}

.new-item {
	width:940px;
	height:350px;
	position:relative;	
}

.menu-colored-boxes {
	width:520px;
	float:right;
	height: 90px;
	margin-top: 50px;
}

.box-colored {
	cursor:pointer;
	overflow:hidden;
	width: 130px;
    	height: 85px
}

.box-icon-small {
    	border-radius: 50%;
	width: 50px;
    	height: 50px;
    	position: absolute;
    	left: 40px;
    	top: 3px;
	z-index:0;
	transition: all .4s;
}

.box-icon-image-small {
	width: 32px;
    	height: 32px;
    	margin-left: 9px;
    	margin-top: 9px;
    	transition: all .4s;
}

.box-title-small {
	color:#000000;
	width:100%;
	text-align:center;
	font-family: LatoBlack;
    	font-size:15px;
    	margin-top: 57px;
	z-index:1;
	position:relative;
}

.box-colored-big {
	cursor:pointer;
	width:220px;
	height:220px
}

.box-cyan {
	background:#00ffff;
	float:left;
	position:relative;
	border-top:2px solid #00dddd;
	border-bottom:7px solid #00dddd;
}

.box-magenta {
	background:#ff00ff;
	float:left;
	position:relative;
	border-top:2px solid #dd00dd;
	border-bottom:7px solid #dd00dd;
}

.box-yellow {
	background:#ffff00;
	float:left;
	position:relative;
	border-top:2px solid #dddd00;
	border-bottom:7px solid #dddd00;
}

.box-black {
	background:#000000;
	position:relative;
	float:left;
	border-top:2px solid #444444;
	border-bottom:7px solid #444444;
}

.ml {
	margin-left:10px;
}

.mr {
	margin-right:10px;
}

.box-icon {
	border-radius:50%;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 70px;
	top: -15px;
	z-index:0;
	transition:all .3s;
}

.box-colored-big:hover .box-icon {
	transform:rotate(360deg);
	
}

.box-cyan .box-icon-small {
	box-shadow:0 0 0 0 #007777;
}

.box-yellow .box-icon-small {
	box-shadow:0 0 0 0 #777700;
}

.box-magenta .box-icon-small {
	box-shadow:0 0 0 0 #770077;
}

.box-black .box-icon-small {
	box-shadow:0 0 0 0 #777777;
}
 
.box-icon-image {
	width: 50px;
	height: 50px;
	margin-left: 15px;
	margin-top: 15px;
	transition: all .3s;
}

.box-cyan:hover > .box-icon-small {
	box-shadow:0 0 0px 55px #00dddd;
}

.box-magenta:hover > .box-icon-small {
	box-shadow:0 0 0px 55px #dd00dd;
}

.box-yellow:hover > .box-icon-small {
	box-shadow:0 0 0px 55px #dddd00;
}

.box-black:hover > .box-icon-small {
	box-shadow:0 0 0px 55px #444444;
}

.box-title {
	color:#000000;
	width:100%;
	text-align:center;
	font-family:"LatoBold";
	font-size:17px;
    	margin-top: 70px;
    	margin-bottom: 3px;
	z-index:1;
	position:relative;
}

.box-title-light {
	color:#fff;
}

.box-content {
	color:#000;
	text-align:center;
	width:210px;
	font-family:Lato;
	margin:0px 5px 0 5px;
	z-index:1;
	font-size:14px;
	font-weight:100;
	position:relative;
	line-height:21px;
}

.box-content-light {
	color:#fff;
}

.box-icon-cyan {
	background:#00dddd;
}

.box-icon-magenta {
	background:#dd00dd;
}

.box-icon-yellow {
	background:#dddd00;
}

.box-icon-black {
	background:#444444;
}

.slider-container {
	margin-bottom:20px;
	width:940px;
	height:230px;
	background:#f0f0f0;
	position:relative;
	overflow:hidden;
}

.slider-inner {
	width:940px;
	height:230px;
	overflow:hidden;
}

.slider-item {
	position:absolute;
	top:0;
	width:940px;
	height:230px;
}

#slider-item-1 {
	left:0px;
	background:red;
}

#slider-item-2 {
	left:0;
	background:blue;
	display:none;
}

#slider-item-3 {
	left:0px;
	display:none;
	background:orange;
}

#slider-item-4 {
	left:0;
	display:none;
	background:lime;
}

.jumpers-box {
	top: 5px;
	right:427.5px;
	position: absolute;
	width:85px;
	height:22px;
	z-index: 5;
}

.jumper {
	margin-left:5px;
	margin-top:3px;
	background: #263238;
	float: left;
	width:15px;
	cursor:pointer;
	height:15px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0px 1px 2px #000, inset 0 0 1px #000;
}

.jumper:hover {
	background:#666;
}

.jumper-active {
	background:#fff;
}

.jumper-active:hover {
	background:#fff;
}

.arrow-bg {
	width:50px;
	height:50px;
	position:absolute;
	top:80px;
	z-index:5;
	cursor:pointer;
	background:rgba(0,0,0,0.6);
}

.arrow-bg:hover {
	background:rgba(0,0,0,0.8);
}

.left-a {
	left:0;
}

.right-a {
	right:0;
}

.left-arrow {
	width:50px;
	height:50px;
	background:url(../images/left-arrow.svg) no-repeat;
	background-size:40px;
	margin:5px;
}

.right-arrow {
	width:50px;
	height:50px;
	background:url(../images/right-arrow.svg) no-repeat;
	background-size:40px;
	margin:5px;
}

#recommended {
	width:1000px;
	height:450px;
	position:relative;
}

.news-item {
	width:310px;
	height:230px;
	background:#fff;
	box-shadow:0px 2px 3px rgba(0,0,0,0.3);
	float:left;
	margin-top:3px;
	position:relative;
	overflow:hidden;
}

.news-item-middle {
	margin:3px 5px 0;
}

.news-item-image-box {
	height:200px;
	width:310px;
	position:relative;
	z-index:1;
	background:#eee;
	overflow:hidden;
}

.over-news-item-image {
	background:rgba(0,0,0,0);
	transition:all .5s;
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.news-item-image {
	transition:all .5s;
	z-index:1;
	position:absolute;
	top:-15px;
	left:0;
	width:100%;
	height:auto;
	transform:scale(1,1);
}

.news-item-content {
	height:105px;
	position:absolute;
	bottom:-30px;
	z-index:3;
	width:310px;
	transition:all .5s;
	background:#fff;
}

.news-item-header {
	height:50px;
	width:310px;
	display:block;
	transition:all .5s;
	padding:5px;
	top:0;
	position:absolute;
}

.news-item-title {
	color:#000;
	font-family:"Gil-Condensed";
	font-size:23px;
	font-weight:300;
	text-transform:uppercase;
	transition:all .5s;
}

.news-item-content-text {
	width:310px;
	height:56px;
	padding:5px;
	position:absolute;
	top:55px;
	transition:all .5s;
	color:rgba(0,0,0,0);
}

.news-item-footer {
	width:310px;
	height:44px;
	padding:5px;
	position:absolute;
	bottom:0px;
	z-index:5;
	background:#fff;
}

.news-item:hover .news-item-content{
	bottom:0;
}

.news-item:hover .news-item-title { 
	color:#fff;
	
}

.news-item:hover .news-item-header {
	color:#fff;
	top:-40px;
}

.news-item:hover .news-item-content-text {
	top:5px;
	color:rgba(0,0,0,1);
}

.news-item:hover .over-news-item-image{
	background:rgba(0,0,0,0.6);
}

.news-item:hover .news-item-image{
	transform:scale(1.1,1.1);
}

.news-link-more {
	width:80px;
	height:34px;
	float:right;
	padding-top:8px;
}

.a-link {
	background: #E41111;
    	text-decoration: none;
    	display: block;
    	vertical-align: middle;
    	color: #fff;
    	text-transform: uppercase;
    	font-weight: 100;
    	text-align: center;
    	font-size: 14px;
    	font-family:"LatoBold";
}

.news-item-content-text-inner {
	font-family:Lato;
	font-size:13px;
	font-weight:100;
	line-height:25px;
}

.section-header {
	width:100%;
	height:40px;
	background:#dd0000;
}

.section-header-title {
	font-family:LatoBold;
	font-size:17px;
	color:#fff;
	padding:10px 15px 0;
	text-align:center;
}

#wrapper {
	position:relative;
	width:100%;
}

#new-products {
	margin-bottom:30px;
	width:1200px;
}

.products-list-wrapper {
	width:1200px;
	height:300px;
	position:relative;
}

.products-list-wrapper-column {
	width:350px;
	height:300px;
	float:left;
	position:relative;
}

.column-md {
	margin:0 1px 0 1px;
}

.column-last {
	width:498px;
}

.product-wrapper-big {
	height:300px;
	width:350px;
	margin-top:1px;
	position:relative;
	background:#eaeaea;
}

.product-wrapper-small {
	height:149px;
	margin-top:1px;
	width:248px;
	margin-left:1px;
	position:relative;
	float:left;
	background:#eaeaea;
}



.criteria-chooser {
	float:left;
	width:300px;
	position:relative;
}

.search-results {
	float:right;
	width:850px;
	position:relative;
}

.search-results-header,
.criteria-chooser-header {
	height:50px;
	background:#0f0f0f;
	position:relative;
}

.products-container {
	position:relative;
	width:1200px;
	margin-bottom:30px;
}

.criteria-items {
	background:#ddd;
	width:100%;
	height:300px;
}

.criteria-name {
	background:#000;
	margin-top:5px;
	height:40px;
	width:100%;
}

.criteria-name-inner {
	color:#fff;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	padding:8px 15px 0;
}

.over-footer {
	background:url(../images/foot.png) center repeat-x;
	height:100px;
	width:100%;
}

#main-footer {
	background:#000;
	position:relative;
	width:100%;
	clear:both;
	height:200px;
}

.footer-inner {
	width:1200px;
	height:200px;
	position:relative;
}

.footer-shortcuts {
	float:left;
	height:100%;
	position:relative;
	width:500px;
}

.footer-shortcuts-header, .footer-maling-header {
	height:50px;
	width:100%;
	clear:both;
	padding-top:20px;
}

.footer-shortcuts-title, .footer-mailing-title {
	font-weight:normal;
	font-size:18px;
	color:#fff;
	position:relative;
}

.footer-shortcuts-content {
	height:150px;
	width:400px;
	margin:0;
	position:relative;
	padding-top:10px;
}

.footer-shortcuts-column {
	height:100%;
	width:50%;
	float:left;
	position:relative;
}

.footer-shortcut-link {
	text-decoration:none;
	color:#afafaf;
	display:block;
	width:100%;
	height:22px;
	font-family:Lato;
	position:relative;
}

.footer-shortcut-link:hover {
	color:#fff;
}

.footer-mailing-list {
	width:300px;
	height:100%;
	float:left;
	position:relative;
}

.mail-list-content {
	height:150px;
	width:360px;
	padding-top:10px;
	position:relative;
}

.span-1 {
	color:#cfcfcf;
	font-family:Lato;
	font-size:16px;
}

.mailing-form {
	height:50px;
	width:100%;
	float:left;
	position:relative;
}

.mail-maling {
	background:#fff;
	font-family:Lato;
	font-size:16px;
	padding:5px;
	height:45px;
	margin-top:5px;
	width:242px;
	color:#111;
	border:0;
	float:left;
}

.submit-maling {
	background:#66f;
	font-family:LatoBold;
	font-size:16px;
	height:45px;
	margin-top:5px;
	width:110px;
	color:#fff;
	border:0;
	float:left;
	text-transform:uppercase;
}

.footer-company {
	float:right;
	width:300px;
	height:150px;
	padding-top:20px;
}

.footer-company-name {
	font-family:LatoBold;
	font-size:17px;
	text-align:right;
	width:100%;
	color:#999;
	margin-bottom:5px;
	height:22px;
}

.footer-company-detail {
	font-family:Lato;
	font-size:16px;
	text-align:right;
	width:100%;
	color:#777;
	height:22px;
}

.access-container {
	width:1200px;
	position:relative;
}

.form-arrive-box {
	position:relative;
	width:900px;
	height:200px;
}

.label-long {
	width:100%;
	height:50px;
	font-size:18px;
}

.input-text-long {
	background:#ddd;
	color:#000;
	font-size:20px;
	font-family:Lovelo;
	padding:10px;
	margin-top:20px;
	width:100%;
	height:50px;
}

.input-submit {
	float:right;
	width:140px;
	height:50px;
	background:#000;
	color:#fff;
	margin-top:20px;
	font-size:16px;
	font-family:Lovelo;
}
